<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>关于作者</title>
    <link rel="stylesheet" href="../font-blog/css/element.css">
    <link rel="stylesheet" href="../font-blog/css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
                <el-breadcrumb-item>关于作者</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div style="height: 1px; margin: 10px 0; background-color: white"></div>

    <el-form :model="entity">
        <el-form-item label="编辑内容" label-width="100px">
            <textarea id="mytextarea" cols="30" rows="30"></textarea>
        </el-form-item>

    </el-form>
    <div style="padding: 10px">
        <el-button type="primary" @click="save">保 存</el-button>
    </div>
</div>

<script src="../font-blog/js/jquery.min.js"></script>
<script src="../font-blog/js/vue.min.js"></script>
<script src="../font-blog/js/element.js"></script>
<script th:src="@{/plugins/axios/axios.js}"></script>
<script src="../font-blog/js/tinymce/tinymce.min.js"></script>


<script>

    let urlBase = "/authorblog/saveAuthor";
    new Vue({
        el: "#wrapper",
        data: {
            options: [],
            fileList: [],
            user: {},
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
        },
        mounted() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};

            tinymce.init({
                selector: '#mytextarea',
                language: 'zh_CN',
                plugins: ['quickbars', 'link', 'table', 'image'], //选择需加载的插件
            });

            $.get("/authorblog/endAuthormessage").then(res => {
                console.log(res);
                if (res.authorId === 0) {
                    this.entity = {}
                } else {
                    this.entity = res;
                    setTimeout(() => {
                        tinymce.activeEditor.setContent(res.authorContent);
                    }, 500)
                }
            })
        },
        methods: {
            save() {
                this.entity.authorContent = tinymce.activeEditor.getContent();
                let type = this.entity.authorId ? "PUT" : "POST";
                console.log(this.entity);
                console.log("JSON转换")
                console.log(JSON.stringify(this.entity))
                $.ajax({
                    url: urlBase,
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                })
            },
        }
    })
</script>
</body>
</html>
