<!DOCTYPE html>
<html class="theme-next pisces" lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>博客管理</title>
    <link rel="stylesheet" href="../font-blog/css/element.css">
    <link rel="stylesheet" href="../font-blog/css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
                <el-breadcrumb-item>博客编辑</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div style="height: 1px; margin: 10px 0; background-color: white"></div>

    <el-form :model="entity">
        <el-form-item label="博客标题" label-width="100px">
            <el-input v-model="entity.blogsarticleHeadline" autocomplete="off" style="width: 40%"></el-input>
        </el-form-item>
        <el-form-item label="博客摘要" label-width="100px">
            <el-input v-model="entity.blogsarticleContent" type="textarea" autocomplete="off" style="width: 40%"></el-input>
        </el-form-item>
        <el-form-item label="选择标签" label-width="100px">
            <el-select clearable v-model="opton" placeholder="请选择" style="width: 40%">
                <el-option v-for="item in options" :key="item.classifyId" :label="item.classifyName" :value="item.classifyName"></el-option>
            </el-select>
        </el-form-item>
<!--        <el-form-item label="推荐轮播" label-width="100px">
            <el-switch
                v-model="entity.carousel"
                active-text="是"
                inactive-text="否"
                active-value="是"
                inactive-value="否">
            </el-switch>-->
        </el-form-item>
        <el-form-item label="博客主图" label-width="100px">
            <el-upload action="http://localhost:81/files/upload" :on-success="fileSuccessUpload" :file-list="fileList">
                <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
        </el-form-item>
        <el-form-item label="博客内容" label-width="100px">
            <textarea id="mytextarea" cols="30" rows="30"></textarea>
        </el-form-item>

    </el-form>
    <div style="padding: 10px">
        <el-button type="primary" @click="save" id="save">保 存</el-button>
        <el-button @click="history.back()">取 消</el-button>
    </div>
</div>

<script src="../font-blog/js/jquery.min.js"></script>
<script src="../font-blog/js/vue.min.js"></script>
<script src="../font-blog/js/element.js"></script>
<script th:src="@{/plugins/axios/axios.js}"></script>
<script src="../font-blog/js/tinymce/tinymce.min.js"></script>


<script>
    let urlBase = "/boke/blog/";
    new Vue({
        el: "#wrapper",
        data: {
            options: [],
            fileList: [],
            user: {},
            tableData: [],
            pageNum: 1,
            pageSize: 10,
            total: 0,
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
            search: '',
            opton:''
        },
        mounted() {
//            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            var self = this;
            tinymce.init({
                selector: '#mytextarea',
                language: 'zh_CN',
                plugins: ['quickbars', 'link', 'table', 'image'], //选择需加载的插件
            });

            var id = location.search.split("=")[1];
            console.log("加载的id为"+id)
           if (id) {
                 $.get("/boke/blog/Classnameid",{ids:id}).then(function (res) {
                     console.log(res);
                     self.entity = res;
                    console.log(self.entity);
                    setTimeout(() => {
                        tinymce.activeEditor.setContent(res.blogsarticleDetailedinformation)
                    }, 500)
                })
/*                axios.get("/boke/blog/Classnameid",{ids:"id"}).then(function (res) {
                    console.log(res.data);
                    this.entity = res.data;
                    console.log(this.entity);
                })*/

            }
            $.get("/classif/base").then(res => {    //获取所有的标签
                self.options = res;
                console.log("标签");
                console.log(self.options);
            })
            $.get("/classif/bolgClass",{ids:id}).then(res => {    //获取当前文章标签
                self.opton = res;
                console.log("文章标签");
                console.log(res);
                console.log(self.opton);
            })
        },
        methods: {
            fileSuccessUpload(res) {
                this.entity.blogsarticleImage = "file/" + res.msg;
                console.log(res.data)
                console.log(res)
            },
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            logout() {
                $.get("/user/login");
                sessionStorage.removeItem("user");
                location.href = "/page/end/login.html";
            },
            loadTable() {
                $.get(urlBase + "/page?pageNum=" + this.pageNum + "&pageSize=" + this.pageSize + "&name=" + this.search).then(res => {
                    this.tableData = res.data.records;
                    this.total = res.data.total;
                });
            },
            exp() {   // excel 导出
                window.open(urlBase + "/export");
            },
            handleSizeChange(pageSize) {
                this.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.pageNum = pageNum;
                this.loadTable();
            },
            add() {
                this.entity = {};
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            save() {
                var self = this;
                self.entity.blogsarticleDetailedinformation = tinymce.activeEditor.getContent();
                let type = self.entity.blogsarticleId ? "PUT" : "POST";
                console.log(type);
                self.entity.blogsarticleInformation=self.opton;
                $.ajax({
                    headers: {
                        'baitoken':window.localStorage['user-Token']
                    },
                    url: urlBase,
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(self.entity)
                }).then(res => {
                    if (res.code === '0') {
                        self.$message({
                            message: "保存成功",
                            type: "success"
                        });
                    } else {
                        self.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                    location.href="blog"
                })
            },
            edit(obj) {
                this.entity = JSON.parse(JSON.stringify(obj));
                this.fileList = [];
                this.dialogFormVisible = true;
            },
            del(id) {
                $.ajax({
                    url: urlBase + id,
                    type: "delete"
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        })
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.msg,
                            type: "error"
                        })
                    }
                })
            }
        }
    })
</script>
<!--<script>
    function saveTextAsFile() {
        var textToWrite = document.getElementById('mytextarea').innerHTML;
        var textFileAsBlob = new Blob([ textToWrite ], { type: 'text/plain' });
        var fileNameToSaveAs = "ecc.md";

        var downloadLink = document.createElement("a");
        downloadLink.download = fileNameToSaveAs;
        downloadLink.innerHTML = "Download File";
        if (window.webkitURL != null) {
            // Chrome allows the link to be clicked without actually adding it to the DOM.
            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        } else {
            // Firefox requires the link to be added to the DOM before it can be clicked.
            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
        }

        downloadLink.click();
    }

    var button = document.getElementById('save');
    button.addEventListener('click', saveTextAsFile);

    function destroyClickedElement(event) {
        // remove the link from the DOM
        document.body.removeChild(event.target);
    }
</script>-->
</body>
</html>
