<!DOCTYPE html>
<html class="theme-next pisces" lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>留言管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/TheBreezeOverflows/bokistatic@v1.3/static/font-blog/css/element.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/TheBreezeOverflows/bokistatic@v1.3/static/font-blog/css/base.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div style="padding-bottom: 10px">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item @click.native="parent.changeIndex('index')">首页</el-breadcrumb-item>
            <el-breadcrumb-item>留言管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div style="height: 1px; margin: 10px 0; background-color: white"></div>

    <el-input v-model="search" style="width: 20%;" suffix-icon="el-icon-search" placeholder="请输入评论信息按回车搜索"
              @keyup.enter.native="loadTablew2"></el-input>
<!--    <el-button @click="add" type="primary" size="mini" style="margin: 10px 0">新增</el-button>-->
    <el-table
            :data="tableData"
            border
            style="width: 100%">
<!--        <el-table-column type="index" label="序号" width="50"> </el-table-column>-->
        <el-table-column prop="commentId" label="序号"></el-table-column>
        <el-table-column prop="messageName" label="评论人"></el-table-column>
        <el-table-column prop="messageEmail" label="个人邮箱"></el-table-column>
        <el-table-column prop="messageReply,messageReplyName" label="回复给">
            <template slot-scope="scope">
                <span v-if="scope.row.messageReply==0">
                    默认评论
                </span>
                <span v-if="scope.row.messageReply!=0">
                    编号：（{{scope.row.messageReply}}）名称：{{scope.row.messageReplyName}}
                </span>
            </template>
        </el-table-column>
        <el-table-column prop="voiceMessage" label="留言信息"></el-table-column>
        <el-table-column prop="blogsarticleId" label="文章编号"></el-table-column>
        <el-table-column prop="commentDate" label="留言时间"></el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="150">
            <template slot-scope="scope">
                <el-popconfirm @onConfirm="del(scope.row.commentId,scope.row.blogsarticleId)" title="确定删除？" >
                    <el-button type="danger" icon="el-icon-delete" circle slot="reference" size="mini"></el-button>
                </el-popconfirm>

                <span v-if="scope.row.commentAudit==0">
                        <el-button  @click="Audit(scope.row.commentId)">审核</el-button>
                </span>
            </template>
        </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div style="background-color: white">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="searchParam.pageNum"
                :page-sizes="[5, 10, 20, 40]"
                :page-size="searchParam.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/TheBreezeOverflows/bokistatic@v1.3/static/font-blog/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/TheBreezeOverflows/bokistatic@v1.3/static/font-blog/js/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/TheBreezeOverflows/bokistatic@v1.3/static/font-blog/js/element.js"></script>
<script src="https://cdn.jsdelivr.net/gh/TheBreezeOverflows/bokistatic@v1.2/static/plugins/axios/axios.min.js"></script>
<script>

    let urlBase = "/boke/Comment/AllCommentmessage";
    new Vue({
        el: "#wrapper",
        data: {
            user: {},
            tableData: [],
            total: 0,
            dialogFormVisible: false,
            entity: {},
            isCollapse: false,
            search: '',
            searchParam : {
                pageNum : 1,
                pageSize : 10, //每页条数
                search:''
            },
            options: [],
        },
        created() {
            this.user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")) : {};
            this.loadTable();
        },
        methods: {
            handleCollapse() {
                this.isCollapse = !this.isCollapse;
            },
            loadTable() {
                var self = this;
                console.log("查询文章信息");
                axios.get(urlBase,{params:self.searchParam}).then(function (res) {
                    console.log("文章信息："+res);
                    self.tableData = res.data.list;
                    console.log(self.tableData);
                    //设置总数量
                    self.total = res.data.total;
                })
            },
            loadTablew2() {
                var self = this;
                console.log("根据标题搜索文章信息");
                self.searchParam.search=self.search
                axios.get("/boke/Comment/NamePage",{params:self.searchParam
                }).then(function (res) {
                    console.log("文章信息："+self.search);
                    self.tableData = res.data.list;
                    console.log(self.tableData);
                    //设置总数量
                    self.total = res.data.total;
                })
            },
            exp() {
                window.open(urlBase + "/export");
            },
            handleSizeChange(pageSize) {
                this.searchParam.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.searchParam.pageNum = pageNum;
                this.loadTable();
            },
            del(id,blogid) {
                console.log("id="+id);
                $.ajax({
                    url: "/boke/Comment/delteComment",
                    type: "get",
                    data: {	// 请求参数放在请求体
                        id: id,
                        blogid:blogid
                    }
                }).then(res => {
                    if (res.code === '0') {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        })
                        this.loadTable();
                    } else {
                        if(res.code == '4399'){
                            this.$message({
                                message:'请重新登录',
                                type: "error"
                            })
                        }else{
                            this.$message({
                                message:res.msg,
                                type: "error"
                            })
                        }
                    }
                })

            },
            Audit(id) {
                this.$confirm('此操作此评论通过审核, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log("id="+id);
                    $.ajax({
                        url: "/boke/Comment/updateComment",
                        type: "get",
                        data: {	// 请求参数放在请求体
                            id: id
                        }
                    }).then(res => {
                        if (res.code === '0') {
                            this.$message({
                                message: "审核成功",
                                type: "success"
                            })
                            this.loadTable();
                        } else {
                            this.$message({
                                message: res.msg,
                                type: "error"
                            })
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消审核'
                    });
                });


            }
        }
    })
</script>
</body>
</html>
