<!DOCTYPE html>
<html class="theme-next pisces" lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" >
<head th:insert="~{common::header('文章查看')}">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="font-blog/css/element.css">
    <link rel="stylesheet" href="font-blog/css/base.css">
    <!--评论区-->
        <style>
        body {
            background-color: #f0f9eb;
        }
        #main {
            clear: both;
            overflow: hidden;
            padding: 20px 0 0 0;
        }
        #content {
            margin-bottom: 36px;
            background-color:#4F5083;
        }
        .vaptcha-container {
            height: 36px;
            width:50% ;
            margin-bottom: 10px;
        }

        .vaptcha-init-main {
            display: table;
            width: 100%;
            height: 100%;
            background-color: #EEEEEE;
        }
        #content,
        #content input,
        #content textarea {
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0.5px;
        }

        #content p,
        #content ul,
        #content ol,
        #content dd,
        #content pre,
        #content hr {
            margin-bottom: 12px; /*段落间距*/

        }

        /* 博客字体总控 */
        *:not([class*="icon"]):not(i) {
            font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif !important;
        }

        .site-content-inner {
            color: white;
        }

        .comment-content {
            color: #ff9800;
        }



        #comments .comments-area-inner {
            padding-top: 110px;
        }
        :root {
            --color_accent: #000000;
            --color_accent_text: #000000;
            --color_header_background: #0a0a0a;
            --color_header_text: #4fcaff;
            --color_header_text--a20: rgba(79, 202, 255, 0.2);
            --color_content_background: #42447a;
            --color_content_text: #ffffff;
            --color_content_text--a20: rgba(255, 255, 255, 0.2);
            --color_content_headings: #60afff;
            --color_footer_background: #343d68;
            --color_footer_text: #968d8d;
            --color_footer_text--a20: rgba(150, 141, 141, 0.2);
            --color_footer_headings: #a0a0a0;
            --typography_size_html: 15px;
        }

        /* END CSS variables */
        .intro-media::after {
            background-image: linear-gradient(transparent, #8d94ba)
        }
    </style>
</head>
<body style="background-color: #8d94ba">
<div id="wrapper" v-cloak>
<section id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
<!--    <div class="header-inner">-->
<!--    </div>-->
        <!--头部栏-->
        <!--                <header class="site-header no-select" role="banner">-->
        <div class="site-header no-select  site-top">
            <div class="site-branding"><span class="site-title"> <span class="logolink moe-mashiro"> <a
                    href="#" alt="墨白"> <ruby><span class="sakuraso" style="font-family: 仿宋">墨白</span>
                        <span class="no" style="font-family: 楷体">沉墨</span><span class="shironeko"
                                                                                style="font-family: 楷体">满纸</span>
                        <rp style="padding-bottom: 100px"></rp>
                        <rt class="chinese-font">一笑若白</rt>
                        <rp></rp></ruby> </a> </span> </span></div>
            <div class="lower-cantiner">
                <div class="lower">
                    <div id="show-nav" class="showNav mobile-fit">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                    <!--选择栏-->
                    <nav class="mobile-fit-control hide">
                        <ul id="menu-new" class="menu">
                            <li style="margin-right: 32px;margin-left: 90px">
                                <a href="index"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-meteor" aria-hidden="true"></i> 首页
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-archive" aria-hidden="true"></i> 归档
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-mars-stroke" aria-hidden="true"></i> 生活琐事
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-magic" aria-hidden="true"></i> 留言板
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="#" aria-current="page">
                                            <span class="faa-parent animated-hover">
                                                <i class="menu-item-icon fas fa-child" aria-hidden="true"></i> 友人帐
                                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-heartbeat" aria-hidden="true"></i>关于我
                                        </span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--用户登录-->
            <div class="header-user-avatar">
                <a v-bind:href="tokes.toke != null? '/end/frame':'login'">
                    <img class="faa-shake animated-hover"
                         src="style/images/none.png" width="30"
                         height="30"> </a>
                <div class="header-user-menu">
                    <div class="herder-user-name no-logged">Whether to <a href="login"
                                                                          target="_blank"
                                                                          style="color:#333;font-weight:bold;text-decoration:none">log
                        in</a> now?
                    </div>
                </div>
            </div>
            <div class="searchbox"><i class="iconfont js-toggle-search iconsearch icon-search"></i></div>
        </div>

        <!--原来头部-->
        <div class="site-brand-wrapper2">
            <!--头部背景-->
            <div class="site-brand-bg">
                <picture>
                    <img class="lazyload" v-bind:src="entity.blogsarticleImage" data-original="style/images/header-gyx.png">
                </picture>
            </div>
        </div>
    <div  style="height: 76px; width: 100%;">
    </div>
</section>

    <!-- 新调整-->
    <div id="content" class="site-content" >
<!--        <main id="main" class="main" style="background-color:#735C94;">-->
        <main id="main" class="main site-mainwzxx" style="background-color:#ABBDF4;">
            <!--背景图片-->
            <div  style="text-align: center">
            <div class="entry-media" style="margin-bottom: 20px;text-align: center">
                <figure style="text-align: center">
                    <a  v-bind:href="entity.blogsarticleImage">
                        <img
                                width="1200" height="576" v-bind:src="entity.blogsarticleImage"
                                class="attachment-large size-large wp-post-image" alt=""
                                sizes="(max-width: 1200px) 100vw, 1024px"/></a></figure>
            </div>
            </div>
                <!-- 标题 -->
                <header class="entry-header">
                    <h1 class="entry-title" >{{entity.blogsarticleHeadline}}</h1>
                </header>
                <!-- 标签信息 -->
                <div style="height: 1px; margin: 20px 0; background-color: #ccc"></div>
                <footer class="entry-meta entry-meta-top">
                    <div style="color: #040405; font-size: 10px;">
            &nbsp;&nbsp;           ✍ 作者：{{entity.bloagUserNames}}&nbsp;&nbsp;
                        🕓 发布时间：{{entity.blogsarticleDate}}&nbsp;&nbsp;
                        📁 类型：{{entity.blogsarticleInformation}}&nbsp;&nbsp;
                        👁 浏览数：{{entity.accessnumber}}
                    </div>
                </footer>
                <div style="height: 1px; margin-top: 20px;margin-bottom: 30px; background-color: #ccc"></div>
        <div class="entry-content" id="view-notice-body">文章内容</div>
            <div style="height: 1px; margin-top: 50px; "></div>
            <div style="text-align: center;margin-top: 50px">
                <row>
                    <button type="success" style="background-color: #4E4E4E" @click="changeClick()" round>👍（{{entity.commentnumber}}）</button>
                    <button type="warning" style="background-color: #4E4E4E" @mouseleave="hideImg('wxImg')"  @mouseover="showImg('wxImg')" round>🐧联系我</button>
                    <div id="wxImg" style="display:none;position:absolute;z-index:2">
<!--                        <div style="height:30px;back-ground:#f00;margin-left: 45px">
                        <img style="width:35%; border-radius: 5px" src="style/images/95421lywz.png" alt="">
                        </div>-->
                        <div style="height:30px;back-ground:#f00;margin-left: 300px;">
                        <img style="width:40%; border-radius: 5px" src="style/images/252135.png" alt="">
                        </div>
                    </div>
                </row>
            </div>
            <div style="height: 1px; margin-top: 20px;margin-bottom: 30px; background-color: #ccc"></div>
            <!--评论-->
            <div id="comments" class="comments-area" style="">
                <div class="comments-area-inner">
                    <!--评论信息展示-->
                    <ol class="comment-list" v-for="item in bokeComment">
                        <li v-bind:id="'comment-'+item.data.commentId" class="comment even thread-even depth-1">
                            <article v-bind:id="'div-comment-'+item.data.commentId" class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <a  v-bind:href="item.data.directSite">
                                        <img alt=''
                                         src='/style/images/failure.png'
                                         srcset='/style/images/failure.png'                                                                           class='avatar avatar-240 photo'
                                         height='240' width='240'/>
                                        </a>
                                        <b class="fn">{{item.data.messageName}}</b><span class="says">说道：</span></div>
                                    <div class="comment-metadata">
                                        <a v-bind:href="'#comment-'+item.data.commentId">
                                        <time>{{item.data.commentDate}}</time>
                                        </a>
                                    </div>
                                </footer>
                                <div class="comment-content"><p>{{item.data.voiceMessage}}</p></div>
                                <div class="reply">
                                    <a rel='nofollow' class='comment-reply-link' href="#respond" v-on:click="messageReplyid(item.data.commentId,item.data.messageName)">回复</a>
                                </div>
                            </article>
                            <ol class="children"  v-for="itemcom in item.list">
                                <li v-bind:id="'comment-'+itemcom.commentId" class="comment odd alt depth-2">
                                    <article v-bind:id="'div-comment-'+itemcom.commentId" class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <a  v-bind:href="itemcom.directSite">
                                                <img alt=''
                                                   src='/style/images/failure.png'
                                                   srcset='/style/images/failure.png'
                                                   class='avatar avatar-240 photo'
                                                   height='240' width='240'/>
                                                </a>
                                                <b class="fn">{{itemcom.messageName}}</b>
                                                <span class="says">说道：</span>
                                            </div>
                                            <div class="comment-metadata">
                                                <a v-bind:href="'#comment-'+itemcom.commentId">
                                                    <time>
                                                        {{itemcom.commentDate}}
                                                    </time>
                                                </a>
                                            </div>
                                        </footer>
                                        <div class="comment-content"><p>@{{item.data.messageName}}：{{itemcom.voiceMessage}}</p></div>
                                        <div class="reply">
                                            <a class='comment-reply-link'  href="#respond" v-on:click="messageReplyid(itemcom.commentId,itemcom.messageName)">
                                                回复
                                            </a>
                                        </div>
                                    </article>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <!--发言回复区-->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">
                            {{messageReyName}}
                            <small>
                            <a  id="cancel-comment-reply-link"
                                href="#respond"
                                v-on:click="cancelReplyid()"
                                style="display:none;">
                                取消回复
                            </a>
                            </small>
                        </h3>
                        <form action="/boke/Comment/release" method="post" id="commentform"  onsubmit="return commentrelease()">
                            <p>
                                <span style="margin-bottom: 60px">
                                     电子邮件地址不会被公开。必填项已用 <span style="color: blue">*</span>标注
                                </span>
                            </p>
                            <p>&nbsp</p>
                            <p >
                                <label for="comment">评论</label>
                                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required" style="color: #0a0a0a">
                                </textarea>
                            </p>

                            <p class="comment-form-author">
                                <label for="author">姓名 <span class="required">*</span>
                                </label>
                                <input id="author" name="author" type="text" value="" size="30"  maxlength="245" required='required'/></p>

                            <p class="comment-form-email">
                                <label for="email"> 电子邮件 <span class="required">*</span>
                                </label>
                                <input id="email" name="email" type="email" value="" size="30"
                                     maxlength="100"
                                     aria-describedby="email-notes"
                                     required='required'/>
                            </p>
                            <p class="comment-form-url">
                                <label for="url">站点</label>
                                <input id="url" name="url"
                                   type="url" value=""
                                   size="30"
                                   maxlength="200"/>
                            </p>
                            <input id="messageRey" name="messageRey" v-bind:value="messageRey" style="display:none;"/>
                            <input id="blogid" name="blogid" v-bind:value="entity.blogsarticleId" style="display:none;"/>

                            <p class="form-submit">
                                <input name="submit"   type="submit" id="submit" class="submit" value="发表评论"/>
                                <input type='hidden'
                                                name='comment_post_ID'
                                                value='2824'
                                                id='comment_post_ID'/>
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0'/></p>


                            <script type="text/javascript" src="lls/init-vaptcha.js"></script>
                        </form>
                    </div>
                </div>
            </div>
    </main>

    </div>
<!-- 底部栏-->
    <div style="position: relative;z-index:5">
    <footer id="footer" class="footer">
        <div class="footer-image" >
            <picture>
                <source srcset="style/images/footer.webp"
                        type="image/webp">
                <img loading="lazy" src="style/images/footer.png"></picture>
        </div>
        <div class="footer-inner"><p>博客已萌萌哒运行<span id="since"></span><span class="my-face">(●'◡'●)ﾉ♥</span></p>
            <p>© <span itemprop="copyrightYear">2021</span> Hi, 墨白. 由 <a href="https://spring.io/projects/spring-boot/"
                                                                         class="external" rel="nofollow">SpringBoot+Mybatis</a>               制作. Theme By <a href="https://github.com/TheBreezeOverflows" target="_blank" class="external"
                                rel="nofollow">Sagiri</a> v1.0 </p>
            <p>Crafted with <i class="fas fa-heart throb" style="color:#d43f57"></i> by <span class="author"
                                                                                              itemprop="copyrightHolder">墨白</span>.
            </p></div>
    </footer>
    </div>
</div>
<!--    js-->
<script src="font-blog/js/jquery.min.js"></script>
<script src="font-blog/js/vue.min.js"></script>
<script src="font-blog/js/element.js"></script>
<script src="font-blog/js/tinymce/tinymce.min.js"></script>
<script type='text/javascript' src='lls/comment-reply.min.js'></script>
<script type='text/javascript' src='lls/scripts-global.js'></script>
<!--<script type="text/javascript" src="style/js/sagiri.min.js"></script>-->
<script>
    new Vue({
        el: "#wrapper",
        data: {
            src: '',
            search: '',
            entity:{},
            pageNum: 1,
            pageSize: 6,
            total: 0,
            messageRey:0,
            messageReyName:'发表评论',
            bokeComment:[],
            tokes:{         //当前toke的存储
                toke: null
            },
            dialogVisible: false
        },
        created() {
            const token = localStorage.getItem("user-Token");
            if(token!= null) { //判断是否有Token
                this.tokes.toke = token;
                console.log("有Token:" + this.tokes.toke)
            }
            let id = getUrlParamValue('id');
            //查询文章信息
            this.loadBlog(id);
            //查询评论区评论信息
            this.BokeComet(id);
        },
        methods: {
            loadBlog(id) {
                var self = this;
                $.get("/boke/blog/Classname",{ids:id}).then(function (res) {
                    console.log(res);
                    self.entity = res;
                    console.log(self.entity);
                    $('#view-notice-body').html(res.blogsarticleDetailedinformation);
                })
            },
            changeClick() {
                var self = this;
                var id=self.entity.blogsarticleId;
                console.log("id:" + id)
                var commentnumber = localStorage.getItem('successNumber'+id);
                // console.log("点赞数:" + commentnumber)
                if(commentnumber!= null) { //判断是否有对本篇文章点过赞,后续增加取消点赞
                    // console.log("已经点赞:" + commentnumber)
                }else {
                    self.entity.commentnumber = self.entity.commentnumber + 1;
                    $.get("/boke/blog/commentnumber",{ids:id}).then(function (res) {
                        if (res.code === '0') {
                            window.localStorage.setItem('successNumber'+id, '1')
                            this.$message({
                                message: "点赞成功",
                                type: "success"
                            });
                        } else {
                            this.$message({
                                message: res.msg,
                                type: "error"
                            })
                        }
                    })
                }

            },
            showImg(id) {
                //显示二维码
                document.getElementById(id).style.display='block';
            },
            hideImg(id) {
                document.getElementById(id).style.display='none';
            },
            BokeComet(id) {
                var self = this;
                $.get("/boke/Comment/blogComment",{ids:id}).then(function (res) {
                    self.bokeComment = res;
                    console.log(self.bokeComment);
                })
            },
            messageReplyid(id,name){//回复人id设置
                var self = this;
                self.messageRey=id;
                self.showImg('cancel-comment-reply-link');
                self.messageReyName="@："+name;
            },
            cancelReplyid(){//回复人取消
                var self = this;
                self.messageRey=0;
                self.hideImg('cancel-comment-reply-link')
                self.messageReyName="发表评论"
            },
            commentrelease() {//发表评论
                console.log("进入表单验证")
                var author = document.getElementById("author").value;
                if (!author) {
                    return false;
                }
                var email = document.getElementById("email").value;
                if (!email) {
                    return false;
                }
                return true;
            }
        }
    });
    /**
     * 获取url参数
     * @param name
     * @returns {string|null}
     */
    function getUrlParamValue(name) {
        if (name == null || name === 'undefined') {
            return '';
        }
        let searchStr = decodeURI(location.search);
        let infoIndex = searchStr.indexOf(name + "=");
        if (infoIndex === -1) {
            return '';
        }
        let searchInfo = searchStr.substring(infoIndex + name.length + 1);
        let tagIndex = searchInfo.indexOf("&");
        if (tagIndex !== -1) {
            searchInfo = searchInfo.substring(0, tagIndex);
        }
        return searchInfo;
    }
</script>
</body>
</html>
