<!DOCTYPE html>
<html class="theme-next pisces" lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" >
<head th:insert="~{common::header('文章查看')}">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="font-blog/css/element.css">
    <link rel="stylesheet" href="font-blog/css/base.css">
    <link rel="stylesheet" href="brand/css/message/MessageController.css">
    <!--评论区-->
</head>
<body style="background-color: #8d94ba">
<div id="wrapper" v-cloak>
<section id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
<!--    <div class="header-inner">-->
<!--    </div>-->
        <!--头部栏-->
        <!--                <header class="site-header no-select" role="banner">-->
        <div class="site-header no-select  site-top">
            <div class="site-branding"><span class="site-title"> <span class="logolink moe-mashiro"> <a
                    href="#" alt="墨白"> <ruby><span class="sakuraso" style="font-family: 仿宋">墨白</span>
                        <span class="no" style="font-family: 楷体">沉墨</span><span class="shironeko"
                                                                                style="font-family: 楷体">满纸</span>
                        <rp style="padding-bottom: 100px"></rp>
                        <rt class="chinese-font">一笑若白</rt>
                        <rp></rp></ruby> </a> </span> </span></div>
            <div class="lower-cantiner">
                <div class="lower">
                    <!--选择栏-->
                    <nav class="mobile-fit-control hide">
                        <ul id="menu-new" class="menu">
                            <li style="margin-right: 32px;margin-left: 180px">
                                <a href="index"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-meteor" aria-hidden="true"></i> 首页
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-archive" aria-hidden="true"></i> 归档
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-mars-stroke" aria-hidden="true"></i> 生活琐事
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="/message"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-magic" aria-hidden="true"></i> 留言板
                                        </span></a>
                            </li>
                            <li style="margin-right: 32px">
                                <a href="/friend" aria-current="page">
                                            <span class="faa-parent animated-hover">
                                                <i class="menu-item-icon fas fa-child" aria-hidden="true"></i> 友人帐
                                            </span>
                                </a>
                            </li>
                            <li>
                                <a href="#"><span class="faa-parent animated-hover">
                                            <i class="menu-item-icon fas fa-heartbeat" aria-hidden="true"></i>关于我
                                        </span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--用户登录-->
            <div class="header-user-avatar">
                <a v-bind:href="tokes.toke != null? '/end/frame':'login'">
                    <img class="faa-shake animated-hover"
                         src="style/images/none.png" width="30"
                         height="30"> </a>
                <div class="header-user-menu">
                    <div class="herder-user-name no-logged">Whether to <a href="login"
                                                                          target="_blank"
                                                                          style="color:#333;font-weight:bold;text-decoration:none">log
                        in</a> now?
                    </div>
                </div>
            </div>
            <div class="searchbox"><i class="iconfont js-toggle-search iconsearch icon-search"></i></div>
        </div>

        <!--原来头部-->
        <div class="site-brand-wrapper2">
            <!--头部背景-->
            <div class="site-brand-bg">
                <picture>
                    <img class="lazyload" v-bind:src="entity.blogsarticleImage" v-bind:data-original="entity.blogsarticleImage">
                </picture>
            </div>
        </div>
    <div  style="height: 76px; width: 100%;">
    </div>
</section>

    <!-- 新调整-->
    <div id="content" class="site-content" >
<!--        <main id="main" class="main" style="background-color:#735C94;">-->
        <main id="main" class="main site-mainwzxx" style="background-color:#ABBDF4;">
            <!--背景图片-->
            <div  style="text-align: center">
            <div class="entry-media" style="margin-bottom: 20px;text-align: center">
                <figure style="text-align: center">
                    <a  v-bind:href="entity.blogsarticleImage">
                        <img
                                width="1200" height="576" v-bind:src="entity.blogsarticleImage"
                                class="attachment-large size-large wp-post-image" alt=""
                                sizes="(max-width: 1200px) 100vw, 1024px"/></a></figure>
            </div>
            </div>
                <!-- 标题 -->
                <header class="entry-header">
                    <h1 class="entry-title" >{{entity.blogsarticleHeadline}}</h1>
                </header>
                <!-- 标签信息 -->
                <div style="height: 1px; margin: 20px 0; background-color: #ccc"></div>
                <footer class="entry-meta entry-meta-top">
                    <div style="color: #040405; font-size: 10px;">
            &nbsp;&nbsp;           ✍ 作者：{{entity.bloagUserNames}}&nbsp;&nbsp;
                        🕓 发布时间：{{entity.blogsarticleDate}}&nbsp;&nbsp;
                        📁 类型：{{entity.blogsarticleInformation}}&nbsp;&nbsp;
                        👁 浏览数：{{entity.accessnumber}}
                    </div>
                </footer>
                <div style="height: 1px; margin-top: 20px;margin-bottom: 30px; background-color: #ccc"></div>
        <div class="entry-content" id="view-notice-body">文章内容</div>
            <div style="height: 1px; margin-top: 50px; "></div>
            <div style="text-align: center;margin-top: 50px">
                <row>
                    <button type="success" style="background-color: #4E4E4E" @click="changeClick()" round>👍（{{entity.likenumber}}）</button>
                    <button type="warning" style="background-color: #4E4E4E" @mouseleave="hideImg('wxImg')"  @mouseover="showImg('wxImg')" round>🐧联系我</button>
                    <div id="wxImg" style="display:none;position:absolute;z-index:2">
<!--                        <div style="height:30px;back-ground:#f00;margin-left: 45px">
                        <img style="width:35%; border-radius: 5px" src="style/images/95421lywz.png" alt="">
                        </div>-->
                        <div style="height:30px;back-ground:#f00;margin-left: 300px;">
                        <img style="width:40%; border-radius: 5px" src="style/images/252135.png" alt="">
                        </div>
                    </div>
                </row>
            </div>
            <div style="height: 1px; margin-top: 20px;margin-bottom: 30px; background-color: #ccc"></div>
            <!--评论-->
            <div id="comments" class="comments-area" style="">
                <div class="comments-area-inner">
                    <!--评论信息展示-->
                    <ol class="comment-list" v-for="item in bokeComment">
                        <li v-bind:id="'comment-'+item.data.commentId" class="comment even thread-even depth-1">
                            <article v-bind:id="'div-comment-'+item.data.commentId" class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img alt=''
                                         src='/style/images/failure.png'
                                         srcset='/style/images/failure.png'                                                                           class='avatar avatar-240 photo'
                                         height='240' width='240'/>
                                        <a  v-bind:href="item.data.directSite">
                                        <b class="fn">{{item.data.messageName}}</b>
                                        </a>
                                        <span class="says">说道：</span>
                                    </div>
                                    <div class="comment-metadata">
                                        <a v-bind:href="'#comment-'+item.data.commentId">
                                        <time>{{item.data.commentDate}}</time>
                                        </a>
                                    </div>
                                </footer>
                                <div class="comment-content"><p>{{item.data.voiceMessage}}</p></div>
                                <div class="reply">
                                    <a rel='nofollow' class='comment-reply-link' href="#respond" v-on:click="messageReplyid(item.data.commentId,item.data.messageName)">回复</a>
                                </div>
                            </article>
                            <ol class="children"  v-for="itemcom in item.list">
                                <li v-bind:id="'comment-'+itemcom.commentId" class="comment odd alt depth-2">
                                    <article v-bind:id="'div-comment-'+itemcom.commentId" class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt=''
                                                   src='/style/images/failure.png'
                                                   srcset='/style/images/failure.png'
                                                   class='avatar avatar-240 photo'
                                                   height='240' width='240'/>
                                                <a  v-bind:href="itemcom.directSite">
                                                <b class="fn">{{itemcom.messageName}}</b>
                                                </a>
                                                <span class="says">说道：</span>
                                            </div>
                                            <div class="comment-metadata">
                                                <a v-bind:href="'#comment-'+itemcom.commentId">
                                                    <time>
                                                        {{itemcom.commentDate}}
                                                    </time>
                                                </a>
                                            </div>
                                        </footer>
                                        <div class="comment-content"><p>@{{itemcom.messageReplyName}} ：{{itemcom.voiceMessage}}</p></div>
                                        <div class="reply">
                                            <a class='comment-reply-link'  href="#respond" v-on:click="messageReplyid(itemcom.commentId,itemcom.messageName)">
                                                回复
                                            </a>
                                        </div>
                                    </article>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <p align="center">
                        <paginate :container-class="'pagination'" :page-count="total"
                                  :click-handler="BokeComet" :prev-text="'《'" :next-text="'》'"
                                  :first-last-button="false" v-model="searchParam.pageNum">
                    </p>
                    <!--发言回复区-->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">
                            {{messageReyName}}
                            <small>
                            <a  id="cancel-comment-reply-link"
                                href="#respond"
                                v-on:click="cancelReplyid()"
                                style="display:none;">
                                取消回复
                            </a>
                            </small>
                        </h3>
                        <form action="/boke/Comment/release" method="post" id="commentform"  onsubmit="return commentrelease()">
                            <p>
                                <span style="margin-bottom: 60px">
                                     电子邮件地址不会被公开。必填项已用 <span style="color: blue">*</span>标注
                                </span>
                            </p>
                            <p>&nbsp</p>
                            <p >
                                <label for="comment">评论</label>
                                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required" style="color: #0a0a0a">
                                </textarea>
                            </p>

                            <p class="comment-form-author">
                                <label for="author">姓名 <span class="required">*</span>
                                </label>
                                <input id="author" name="author" type="text" value="" size="30"  maxlength="245" required='required'/></p>

                            <p class="comment-form-email">
                                <label for="email"> 电子邮件 <span class="required">*</span>
                                </label>
                                <input id="email" name="email" type="email" value="" size="30"
                                     maxlength="100"
                                     aria-describedby="email-notes"
                                     required='required'/>
                            </p>
                            <p class="comment-form-url">
                                <label for="url">站点</label>
                                <input id="url" name="url"
                                   type="url" value=""
                                   size="30"
                                   maxlength="200"/>
                            </p>
                            <input id="messageRey" name="messageRey" v-bind:value="messageRey" style="display:none;"/>
                            <input id="blogid" name="blogid" v-bind:value="entity.blogsarticleId" style="display:none;"/>
                            <input id="messagename" name="messagename" v-bind:value="messagereplyname" style="display:none;"/>
                            <input id="audit" name="audit" v-bind:value="1" style="display:none;"/>
                            <p class="form-submit">
                                <input name="submit"   type="submit" id="submit" class="submit" value="发表评论"/>
                                <input type='hidden'
                                                name='comment_post_ID'
                                                value='2824'
                                                id='comment_post_ID'/>
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0'/></p>


                            <script type="text/javascript" src="lls/init-vaptcha.js"></script>
                        </form>
                    </div>
                </div>
            </div>
    </main>

    </div>
<!-- 底部栏-->
    <div style="position: relative;z-index:5">
    <footer id="footer" class="footer">
        <div class="footer-image" >
            <picture>
                <source srcset="style/images/footer.webp"
                        type="image/webp">
                <img loading="lazy" src="style/images/footer.png"></picture>
        </div>
        <div class="footer-inner"><p>博客已萌萌哒运行<span id="since"></span><span class="my-face">(●'◡'●)ﾉ♥</span></p>
            <p>© <span itemprop="copyrightYear">2021</span> Hi, 墨白.由 <a href="https://github.com/TheBreezeOverflows/boki" target="_blank" class="external"
                                                                        rel="nofollow">TheBreezeOverflows</a>
                制作.</p>
            <p>Crafted with <i class="fas fa-heart throb" style="color:#d43f57"></i> by <span class="author"
                                                                                              itemprop="copyrightHolder">墨白</span>.
            </p></div>
    </footer>
    </div>
</div>
<!--右侧长条线图片-->
<div class="back-to-top">
    <picture>
        <source srcset="style/images/scroll.webp"
                type="image/webp">
        <img loading="lazy" src="style/images/scroll.png">
    </picture>
</div>
<!--    js-->
<script src="font-blog/js/jquery.min.js"></script>
<script src="font-blog/js/vue.min.js"></script>
<script src="font-blog/js/element.js"></script>
<script src="font-blog/js/tinymce/tinymce.min.js"></script>
<script type='text/javascript' src='lls/comment-reply.min.js'></script>
<script type='text/javascript' src='lls/scripts-global.js'></script>
<script type="text/javascript" src="style/js/sagiri.min.js"></script>
<script th:src="@{/brand/js/detail/CommentController.js}"></script>
</body>
</html>
