body {
	background-color: #f0f9eb;
}
#main {
	clear: both;
	overflow: hidden;
	padding: 20px 0 0 0;
}
#content {
	margin-bottom: 36px;
	background-color:#4F5083;
}
.vaptcha-container {
	height: 36px;
	width:50% ;
	margin-bottom: 10px;
}

.vaptcha-init-main {
	display: table;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
}
#content,
#content input,
#content textarea {
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.5px;
}

#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 12px; /*段落间距*/

}

/* 博客字体总控 */
*:not([class*="icon"]):not(i) {
	font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif !important;
}

.site-content-inner {
	color: white;
}

.comment-content {
	color: #ff9800;
}



#comments .comments-area-inner {
	padding-top: 110px;
}
:root {
	--color_accent: #000000;
	--color_accent_text: #000000;
	--color_header_background: #0a0a0a;
	--color_header_text: #4fcaff;
	--color_header_text--a20: rgba(79, 202, 255, 0.2);
	--color_content_background: #42447a;
	--color_content_text: #ffffff;
	--color_content_text--a20: rgba(255, 255, 255, 0.2);
	--color_content_headings: #60afff;
	--color_footer_background: #343d68;
	--color_footer_text: #968d8d;
	--color_footer_text--a20: rgba(150, 141, 141, 0.2);
	--color_footer_headings: #a0a0a0;
	--typography_size_html: 15px;
}

/* END CSS variables */
.intro-media::after {
	background-image: linear-gradient(transparent, #8d94ba)
}